* {
margin: 0;
padding: 0;
/* display: inline-block; */
}

body {
  max-width: 1000px;
  margin: auto auto auto 2em;
  background-image: url(../image/background3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  font-family: "Ma Shan Zheng", cursive;
font-size: 40px;
}

.container{
  text-align: center;
  margin: 0 9em;
  margin-top: 100px;
  /* position: relative; */
}

#canvas{
  /* display: inline-block; */
}

#counter{
  margin-left: 3em;
}
